* {
    margin: 0px;
}

html {
    background: url(https://www.fg-a.com/wallpapers/white-marble-3-2018.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    background: center;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    width: 50%;
}

/*-------------------------------*/
/*     search bar styles        */
/*-------------------------------*/
h1 {
    color: deepskyblue;
}

.search_bar input {
    width: 410px;
    height: 42px;
    border-style: solid;
    border-color: darkgrey;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font: bold 15px 'lucida sans', 'trebuchet MS', 'Tahoma';
    font-style: italic;
}

.search_bar input:focus {
    box-shadow: 1px 1px 16px 0px #DC7371;
}

.search_bar input:hover {
    box-shadow: 1px 1px 16px 0px #DC7371;
}

.search_bar button {
    width: 112px;
    height: 42px;
    background-color: #d93c3c;
    color: #fff;
    border: none;
    border-radius: 0 5px 5px 0;
    position: relative;
    font: 15px "Open Sans";
}

.search_bar button:hover {
    box-shadow: 1px 1px 16px 0px #DC7371;
}

.search_bar {
    margin-top: 30px;
    width: 530px;
    margin-left: auto;
    margin-right: auto;
}

#language {
    padding-top: 2px;
    padding-bottom: 2px;
}

footer {
    margin-top: 180px;
    font: 15px "Open Sans";
    text-align: center;
    color: darkgrey;
}

.inline_navbar .navbar-brand {
    padding: 0px;
}

.inline_navbar .navbar-brand > img {
    height: 100%;
    padding: 10px;
    width: auto;
}

.inline_navbar .navbar-brand {
    height: 60px;
}

.inline_navbar .navbar a:hover {
    border-bottom: 1px solid #d00355;
}

.inline_navbar .active a {
    border-bottom: 1px solid #d00355;
}

.inline_navbar .nav > li {
    padding-top: 2px;
    padding-bottom: 2px;
}


body {
    position: relative;
    overflow-x: hidden;
    /*padding-left: calc(100vw - 100%);*/
}

body,
html {
    height: 100%;
}

.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
    background-color: transparent;
}

/*-------------------------------*/
/*           Wrappers            */
/*-------------------------------*/

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 220px;
}

#sidebar-wrapper {
    z-index: 1000;
    left: 220px;
    width: 0;
    height: 100%;
    margin-left: -220px;
    overflow-y: auto;
    overflow-x: hidden;
    background: #1a1a1a;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#sidebar-wrapper::-webkit-scrollbar {
    display: none;
}

#wrapper.toggled #sidebar-wrapper {
    width: 220px;
}

#page-content-wrapper {
    width: 100%;
    padding-top: 70px;
    font: "Open Sans";
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -220px;
}

/*-------------------------------*/
/*     Sidebar nav styles        */
/*-------------------------------*/

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 220px;
    margin: 0;
    padding: 0;
    list-style: none;
    font: 15px "Open Sans";
}

.sidebar-nav li {
    position: relative;
    line-height: 15px;
    display: inline-block;
    width: 100%;
}

.sidebar-nav li:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 3px;
    background-color: #1c1c1c;
    -webkit-transition: width .2s ease-in;
    -moz-transition: width .2s ease-in;
    -ms-transition: width .2s ease-in;
    transition: width .2s ease-in;

}

.sidebar-nav li:first-child a {
    color: #fff;
    background-color: #1a1a1a;
}

.sidebar-nav li:nth-child(2):before {
    background-color: #ec1b5a;
}

.sidebar-nav li:nth-child(3):before {
    background-color: #79aefe;
}

.sidebar-nav li:nth-child(4):before {
    background-color: #314190;
}

.sidebar-nav li:nth-child(5):before {
    background-color: #279636;
}

.sidebar-nav li:nth-child(6):before {
    background-color: #7d5d81;
}

.sidebar-nav li:nth-child(7):before {
    background-color: #ead24c;
}

.sidebar-nav li:nth-child(8):before {
    background-color: #2d2366;
}

.sidebar-nav li:nth-child(9):before {
    background-color: #35acdf;
}

.sidebar-nav li:hover:before,
.sidebar-nav li.open:hover:before {
    width: 100%;
    -webkit-transition: width .2s ease-in;
    -moz-transition: width .2s ease-in;
    -ms-transition: width .2s ease-in;
    transition: width .2s ease-in;

}

.sidebar-nav li a {
    display: block;
    color: #ddd;
    text-decoration: none;
    padding: 10px 15px 10px 30px;
}

.sidebar-nav li a:hover,
.sidebar-nav li a:active,
.sidebar-nav li a:focus,
.sidebar-nav li.open a:hover,
.sidebar-nav li.open a:active,
.sidebar-nav li.open a:focus {
    color: #fff;
    text-decoration: none;
    background-color: transparent;
}

.sidebar-nav > .sidebar-brand {
    height: 120px;
    font-size: 25px;
    line-height: 100px;
    color: #d00355;
    padding: 10px 15px 10px 30px;
}

.sidebar-nav .dropdown-menu {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 0;
    border: none;
    background-color: #222;
    box-shadow: none;
}

/*-------------------------------*/
/*       Hamburger-Cross         */
/*-------------------------------*/

.hamburger {
    position: fixed;
    top: 72px;
    z-index: 999;
    display: block;
    width: 32px;
    height: 32px;
    margin-left: 0px;
    background: transparent;
    border: none;
    color: steelblue;
    font: 17px "Open Sans";
}

.hamburger:hover,
.hamburger:focus,
.hamburger:active {
    outline: none;
    text-shadow: 1px 1px 2px #DC7371;
}

.hamburger.is-closed:before {
    content: '';
    display: block;
    width: 100px;
    font-size: 14px;
    color: #fff;
    line-height: 32px;
    text-align: center;
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed:hover:before {
    opacity: 1;
    display: block;
    -webkit-transform: translate3d(-100px, 0, 0);
    -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom,
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
    position: absolute;
    left: 0;
    height: 4px;
    width: 100%;
}

.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom {
    background-color: transparent;
}

.hamburger.is-closed .hamb-top {
    top: 5px;
    -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed .hamb-middle {
    top: 50%;
    margin-top: -2px;
}

.hamburger.is-closed .hamb-bottom {
    bottom: 5px;
    -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed:hover .hamb-top {
    top: 0;
    -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed:hover .hamb-bottom {
    bottom: 0;
    -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
    background-color: #d00355;
}

.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-bottom {
    top: 50%;
    margin-top: -2px;
}

.hamburger.is-open .hamb-top {
    -webkit-transform: rotate(45deg);
    -webkit-transition: -webkit-transform .2s cubic-bezier(.73, 1, .28, .08);
}

.hamburger.is-open .hamb-middle {
    display: none;
}

.hamburger.is-open .hamb-bottom {
    -webkit-transform: rotate(-45deg);
    -webkit-transition: -webkit-transform .2s cubic-bezier(.73, 1, .28, .08);
}

.hamburger.is-open:before {
    content: '';
    display: block;
    width: 100px;
    font-size: 14px;
    color: #fff;
    line-height: 32px;
    text-align: center;
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-open:hover:before {
    opacity: 1;
    display: block;
    -webkit-transform: translate3d(-100px, 0, 0);
    -webkit-transition: all .35s ease-in-out;
}

/*-------------------------------*/
/*            Overlay            */
/*-------------------------------*/

.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.effect-3 {
    max-height: 302px;
    min-height: 302px;
    overflow: hidden;
    margin-top: 80px;
    font-family: "Arial", Sans-serif;
}

.effect-3 h4 {
    text-align: left;
    font-style: bold;
}

.effect-3 .member-image {
    transition: 0.4s;
    height: 212px;
    width: 100%;
    display: inline-block;
    float: none;
    vertical-align: middle;
}

.effect-3 .member-info {
    transition: 0.4s;
    border-bottom: 1px solid #DC7371;
    text-align: justify;
}

.effect-3 .member-image img {
    width: 100%;
    height: 220px;
    vertical-align: bottom;
}

.effect-3 .social-touch {
    background-color: #DC7371;
    float: left;
    left: 0;
    bottom: 0;
    overflow: hidden;
    padding: 2px 0;
    width: 100%;
    transition: 0.4s;
}

.effect-3:hover .member-image {
    border-bottom: 0;
    border-radius: 0px 0px 10px 10px;
    height: auto;
    display: inline-block;
    overflow: hidden;
    height: 150px;
    transition: 0.4s;
    border-bottom: 5px solid #d00355;
}

#topButton {
    display: none;
    position: fixed;
    bottom: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: Transparent;
    color: steelblue;
    cursor: pointer;
    padding: 2px;
    border-radius: 10px;
    font-size: 17px;
}

#topButton:hover {
    text-shadow: 1px 1px 2px #DC7371;
}

.buttonHolder {
    display: flex;
    justify-content: center;
}

.pagination {
    font: 15px "Open Sans";
}

.pagination a:hover {
    border-bottom: 3px solid #d00355;
}

.pagination .active a {
    border-bottom: 3px solid #d00355;
}

.inline_navbar .navbar-brand {
    padding: 0px;
}

#myCarousel1, #myCarousel2 {
    margin-top: 80px;
}

.slider {
    width: 540px; /*Same as width of the large image*/
    position: relative;
    /*Instead of height we will use padding*/
    padding-top: 320px; /*That helps bring the labels down*/
    /*Lets add a shadow*/
    box-shadow: 0 00px 0px -5px rgba(0, 0, 0, 0.75);
}

.slider > img {
    position: absolute;
    left: 0;
    top: 0;
    transition: all 0.5s;
}

.slider input[name='slide_switch'] {
    display: none;
}

.slider label {
    /*Lets add some spacing for the thumbnails*/
    margin: 18px 0 0 18px;
    border: 3px solid #999;

    float: left;
    cursor: pointer;
    transition: all 0.5s;

    /*Default style = low opacity*/
    opacity: 0.6;
}

.slider label img {
    display: block;
}

/*Time to add the click effects*/
.slider input[name='slide_switch']:checked + label {
    border-color: #666;
    opacity: 1;
}

/*Clicking any thumbnail now should change its opacity(style)*/
/*Time to work on the main images*/
.slider input[name='slide_switch'] ~ img {
    opacity: 0;
    transform: scale(1.1);
}

/*That hides all main images at a 110% size
On click the images will be displayed at normal size to complete the effect
*/
.slider input[name='slide_switch']:checked + label + img {
    opacity: 1;
    transform: scale(1);
}

.basic-info {
    background: #d00355;
    padding: 3px 3px 3px 3px;
    border-radius: 5px 5px 5px 5px;
    color: #fff;
}

.label-text {
    font-family: "Arial", Sans-serif;
    font-size: 15px;
    font-weight: 20;
}

.basic {
    margin-top: 56px;
}

.content, .basic-info, .basic-info-tags {
    font-family: "Arial", Sans-serif;
}

.basic-info-tags {
    font-size: 15px;
}

.con {
    margin-top: 10px;
}

table {
    width: 290px;
    height: 148px;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background: -webkit-linear-gradient(45deg, #DC143C);
    background: linear-gradient(45deg, #DC143C);
    font-family: "Arial", Sans-serif;
}

th,
td {
    padding: 6px;
    background-color: rgba(255, 255, 255, 0.2);
}

th {
    text-align: left;
}

thead th {
    background-color: steelblue;
}

tbody tr:hover {
    background-color: #DC143C;
    color: #fff;
}

tbody td {
    position: relative;
}

tbody td:hover:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.2);
    z-index: -1;
}

.intro {
    font-family: "Arial", Sans-serif;
    color: black;
    padding-top: 50px;
    text-align: justify;
}











